# Analysis of CIBC Visa credit card expenses between Jan 1, 2022 - May 3, 2023
As downloaded on May 3, 2023

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('private_data/cibc_visa_2023_05_03_2022_01_01.csv', header=None, names=['date', 'description', 'debit', 'credit', 'expender'])

In [19]:
df.loc[df['expender'].str.endswith('6875'), 'expender'] = 'yousuf'
df.loc[df['expender'].str.endswith('5826'), 'expender'] = 'nisreen'

In [20]:
df = df.fillna(0)

In [21]:
df['expense'] = df['debit'] - df['credit']

In [22]:
df['type'] = 'debit'
df.loc[df['credit'] > 0, 'type'] = 'credit'

In [37]:
df['month'] = pd.to_datetime(df['date']).dt.to_period('M')

In [47]:
df.groupby(['month']).sum()

           debit   credit  expense
month
2022-01  3159.59  5068.07 -1908.48
2022-02  4969.05  3300.00  1669.05
2022-03  4810.28  8457.16 -3646.88
2022-04  2681.79   372.73  2309.06
2022-05  2095.81  4365.51 -2269.70
2022-06  3908.93     0.00  3908.93
2022-07  5103.10  6500.00 -1396.90
2022-08  4444.14  6673.00 -2228.86
2022-09  4179.70     3.92  4175.78
2022-10  7877.75  6881.84   995.91
2022-11  5079.34  7185.84 -2106.50
2022-12  5747.11  7424.15 -1677.04
2023-01  5018.62  7271.83 -2253.21
2023-02  5250.70   129.16  5121.54
2023-03  5289.92  5296.03    -6.11
2023-04  3107.34  5650.15 -2542.81
2023-05   768.46  3086.00 -2317.54

In [56]:
df.groupby(['description']).sum().sort_values('expense', ascending=False).head(30)

                                            debit  credit  expense
description
UBER CANADA/UBEREATS TORONTO, ON          5453.86    0.00  5453.86
UBER* EATS TORONTO, ON                    4437.35    0.00  4437.35
LONGO'S # 10 TORONTO, ON                  3413.93    0.00  3413.93
BRAINSTATION TORONTO, ON                  2874.94    0.00  2874.94
META ELLESMERE SCARBOROUGH, ON            2184.13    0.00  2184.13
STARBUCKS 800-782-7282 800-782-7282, ON   1880.52    0.00  1880.52
ROGERS *CBL30348211309 888-764-3771, ON   1652.07    0.00  1652.07
ROGERS ******4129 888-764-3771, ON        1276.20    0.00  1276.20
UTOPIA CANNABIS NORTH YORK, ON            1252.82   24.85  1227.97
SHOPPERS DRUG MART #14 NORTH YORK, ON     1113.85    0.00  1113.85
LA FITNESS BRAMPTON, ON                   1048.41    0.00  1048.41
PETROCAN-2250 VICTORIA PA NORTH YORK, ON  1016.53    0.00  1016.53
RICHARD & RUTH'S NF #7 NORTH YORK, ON      987.36    0.00   987.36
CDN TIRE STORE #00192 WILLOWDALE, ON       976.20    0.00   976.20
COINAMATIC TORONTO, ON                     898.25    0.00   898.25
THE HOME DEPOT #7106 RICHMOND HILL, ON     804.54    0.00   804.54
MARRIOTT - MONTREAL MONTREAL, QC           785.08    0.00   785.08
SHERATON MONTREAL, QC                      746.16    0.00   746.16
IKEA NORTH YORK NORTH YORK, ON             701.12    0.00   701.12
METRO 475 SCARBOROUGH, ON                  653.31    0.00   653.31
MCDONALD'S #8939 Q04 SCARBOROUGH, ON       577.83    0.00   577.83
PORTER AIR 4516789918323 TORONTO, ON       552.86    0.00   552.86
AMZN Mktp CA*HT3Q096O1 WWW.AMAZON.CA, ON   542.39    0.00   542.39
BEST BUY #943 SCARBOROUGH, ON              536.73    0.00   536.73
SP OTR MEALS TORONTO, ON                   491.55    0.00   491.55
INSTACART HALIFAX MID-H, NS                488.22    0.00   488.22
AIR CAN* 0146790733328 AIRCANADA.COM, MB   488.00    0.00   488.00
Uniqlo Canada Inc. Toronto, ON             862.19  383.40   478.79
KANAB NORTH YORK, ON                       472.08    0.00   472.08
THE BARBERS CHAIR NORTH YORK, ON           461.71    0.00   461.71

In [ ]:
df.groupby(['description', 'month']).sum()

                                                 debit  credit  expense
description                             month
3 BRASSEURS MCGILL MONTREAL, QC         2022-10  11.90     0.0    11.90
                                        2023-02  19.10     0.0    19.10
3730-MNTR GALLERIA REL DORVAL, QC       2022-10   6.89     0.0     6.89
407-ETR-WEB WOODBRIDGE, ON              2022-10  10.89     0.0    10.89
4LIFE NATURAL WHOLESALE P TORONTO, ON   2022-06  13.50     0.0    13.50
...                                                ...     ...      ...
YIFANG TAIWAN FRUIT TEA SCARBOROUGH, ON 2022-09  16.39     0.0    16.39
YOGEN FRUZ FAIRVIEW MA NORTH YORK, ON   2022-11   7.90     0.0     7.90
YORKVILLE FOODBAR TORONTO, ON           2022-11  84.52     0.0    84.52
YTZ BALZAC COFFEE DOM TORONTO, ON       2022-10  14.69     0.0    14.69
YUL PIZZA DORVAL, QC                    2022-10  24.93     0.0    24.93

[1069 rows x 3 columns]

In [61]:
df.pivot_table(index='description', columns='month', values='debit', fill_value=0)

month,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05
description,,,,,,,,,,,,,,,,,
"3 BRASSEURS MCGILL MONTREAL, QC",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,11.90,0.00,0.0,0.0,9.55,0.0,0.0,0.0
"3730-MNTR GALLERIA REL DORVAL, QC",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,6.89,0.00,0.0,0.0,0.00,0.0,0.0,0.0
"407-ETR-WEB WOODBRIDGE, ON",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,10.89,0.00,0.0,0.0,0.00,0.0,0.0,0.0
"4LIFE NATURAL WHOLESALE P TORONTO, ON",0.0,0.0,0.0,0.0,0.00,13.5,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
"61114 MACS CONV. STORES STOUFFVILLE, ON",0.0,0.0,0.0,0.0,20.32,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"YIFANG TAIWAN FRUIT TEA SCARBOROUGH, ON",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,16.39,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
"YOGEN FRUZ FAIRVIEW MA NORTH YORK, ON",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,7.90,0.0,0.0,0.00,0.0,0.0,0.0
"YORKVILLE FOODBAR TORONTO, ON",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,84.52,0.0,0.0,0.00,0.0,0.0,0.0
"YTZ BALZAC COFFEE DOM TORONTO, ON",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,14.69,0.00,0.0,0.0,0.00,0.0,0.0,0.0
"YUL PIZZA DORVAL, QC",0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,24.93,0.00,0.0,0.0,0.00,0.0,0.0,0.0

In [49]:
df

,date,description,debit,credit,expender,expense,type,month
0,2023-05-02,"SPIRITLEAF 895 LAWRENCE NORTH YORK, ON",22.54,0.0,yousuf,22.54,debit,2023-05
1,2023-05-02,PAYMENT THANK YOU/PAIEMEN T MERCI,0.00,3086.0,yousuf,-3086.00,credit,2023-05
2,2023-05-02,"LYFT *RIDE SUN 1AM VANCOUVER, BC",39.99,0.0,yousuf,39.99,debit,2023-05
3,2023-05-02,"UBER CANADA/UBEREATS TORONTO, ON",26.29,0.0,yousuf,26.29,debit,2023-05
4,2023-05-02,"STARBUCKS 800-782-7282 800-782-7282, ON",20.00,0.0,yousuf,20.00,debit,2023-05
...,...,...,...,...,...,...,...,...
1734,2022-01-04,"PHO QUINN SCARBOROUGH, ON",33.07,0.0,yousuf,33.07,debit,2022-01
1735,2022-01-04,"SPIRITLEAF 895 LAWRENCE NORTH YORK, ON",60.90,0.0,yousuf,60.90,debit,2022-01
1736,2022-01-04,"SPIRITLEAF 895 LAWRENCE NORTH YORK, ON",1.98,0.0,yousuf,1.98,debit,2022-01
1737,2022-01-04,"ANJUMAN-E-BURHANI(TORONTO RICHMOND HILL, ON",11.00,0.0,yousuf,11.00,debit,2022-01
1738,2022-01-04,"COINAMATIC TORONTO, ON",50.00,0.0,yousuf,50.00,debit,2022-01

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739 entries, 0 to 1738
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1739 non-null   object
 1   description  1739 non-null   object
 2   debit        1739 non-null   float64
 3   credit       1739 non-null   float64
 4   expender     1739 non-null   object
 5   expense      1739 non-null   float64
 6   type         1739 non-null   object
 7   month        1739 non-null   period[M]
dtypes: float64(3), object(4), period[M](1)
memory usage: 108.8+ KB